@font-face{
  font-family: "Chess";
  src: url("../fuentes/chess.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "DejaVuSansMono";
  src: url("../fuentes/DejaVuSansMono.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: "Chess";
  src: url("../fuentes/Chess.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
section{
  display: flex;
  flex-flow:column;
  align-items:center;
}
#jugar:hover,#ajustesb:hover,#info:hover,#atras:hover,#atras1:hover,#jugar:active,#ajustesb:active,#atras:active,#atras1:active,#info:active{
  color:white;
  background-color: black;
}

#ajustesb,#atras,#atras1,#jugar,#info{
  margin-top: 20px;
  border: 1px solid black;
  padding: 7px 13px;
  border-radius: 5px;
  font-size: 14pt;
  font-family: Verdana;
  background-color: white;
}
#info{
  margin-top: 40px;
}
#parrinfo{
  font-family: Verdana;
  font-size: 13pt;
  text-align: center;
}
.animbot{
  animation: botones 2s linear;
}
a{
  text-decoration: none;
}
#ajustesb{
  margin-top: 40px;
}
.pantalla{
  z-index: 2;
}

.nopantalla{
  display: none;
}
.selec{
  display: flex;
  justify-content:space-between;
  margin-bottom: 9px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


.bot{
  border: 1px solid;
  position: relative;
  padding: 10px 23px;
  border-radius: 15px;
}
.off{
  position: absolute;
  border: 1px solid;
  border-radius: 50%;
  top: -1px;
  padding: 10px;
  left: -1px;
  -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
        -ms-transition: all 300ms;
         -o-transition: all 300ms;
            transition: all 300ms;
}
.on{
  position: absolute;
  border: 1px solid;
  border-radius: 50%;
  top: -1px;
  padding: 10px;
  left: 54%;
  -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
        -ms-transition: all 300ms;
         -o-transition: all 300ms;
            transition: all 300ms;
    background-color: rgba(55,255,0,0.4);
}

.txt{
  margin-right: 6px;
  font-size: 14pt;
  font-family: Verdana;
}


h1{
  font-size: 40pt;
  margin: 0;
  margin-bottom: 10px;
  font-family: DejaVuSansMono;
}
.animTitulo0{
  animation: titulo 2s linear;
}
.animTitulo1{
  animation: tituloo 2s linear;
}
.animTitulo2{
  animation: titulooo 2s linear;
}
.animTitulo3{
  animation: swing 2s linear;
}
.animTitulo4{
  animation: rubberBand 2s linear;
}

.animTitulo5{
  animation: flip 2s linear;
}
.animTitulo6{
  animation: hinge 2s linear;
}

.animn{
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: -3;
  font-family: Chess;
  font size:20pt;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135,-1px 0 rgba(255,255,255,0.4), 0 1px rgba(255,255,255,0.4), 1px 0 rgba(255,255,255,0.4), 0 -1px rgba(255,255,255,0.4) ;
}
.animn1{
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: -3;
  font-family: Chess;
  font size:20pt;
  text-shadow:-1px 0 rgba(255,255,255,0.4), 0 1px rgba(255,255,255,0.4), 1px 0 rgba(255,255,255,0.4), 0 -1px rgba(255,255,255,0.4) ;
}
.animb{
  color: white;
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: -3;
  font-family: Chess;
  font size:20pt;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135,-1px 0 rgba(0,0,0,0.4), 0 1px rgba(0,0,0,0.4), 1px 0 rgba(0,0,0,0.4), 0 -1px rgba(0,0,0,0.4);
}
.animb1{
  color: white;
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: -3;
  font-family: Chess;
  font size:20pt;
  text-shadow: -1px 0 rgba(0,0,0,0.9), 0 1px rgba(0,0,0,0.9), 1px 0 rgba(0,0,0,0.9), 0 -1px rgba(0,0,0,0.9);
}

#torren{
  font-size: 20pt;
  animation: torren 4s linear infinite alternate;
}
#caballob{
  font-size: 15pt;
  animation: caballob 11s linear infinite alternate;
}
#caballob1{
  margin-top: 100px;
  font-size: 15pt;
  animation: caballobb 6s linear infinite alternate;
}

#reinab{
  font-size: 16pt;
  animation: reinab 5s ease-in-out infinite alternate;
}
#peonb{
  font-size: 19pt;
  animation: peonb 3s ease-in-out infinite alternate;
}
#reyb{
  margin-top: 250px;
  font-size: 19pt;
  animation: reyb 7s ease-in-out infinite alternate;
}
#alfiln{
  font-size: 18pt;
  animation: alfiln 8s ease-in-out infinite alternate;
}
#torreb{  
  margin-top: 250px;
  font-size: 18pt;
  animation: torreb 4s ease infinite alternate;
}
#reinan{
  margin-top: 300px;
  font-size: 20pt;
  animation: reinan 9s linear infinite alternate;
}
#alfilb{
  font-size: 20pt;
  animation: alfilb 12s ease-in-out infinite alternate;
}
@keyframes alfilb{
   0%{
    transform: translate(126px,-150px) rotate(0);
  }
    
    100%{
      transform: translate(70px,230px) rotate(520deg);
    }
}
@keyframes reinan{
   0%{
    transform: translate(0px,-190px) rotate(0);
  }
    
    100%{
      transform: translate(-117px,100px) rotate(520deg);
    }
}
@keyframes torreb{
   0%{
    transform: translate(-167px,-90px) rotate(0);
  }
    
    100%{
      transform: translate(-117px,100px) rotate(190deg);
    }
}
@keyframes reyb{
   0%{
    transform: translate(127px,90px) rotate(0);
  }
    
    100%{
      transform: translate(-167px,-10px) rotate(320deg);
    }
}
@keyframes alfiln{
   0%{
    transform: translate(147px,20px) rotate(0);
  }
    
    100%{
      transform: translate(-147px,-20px) rotate(360deg);
    }
}
@keyframes peonb {
   0%{
    right: 80px;
    bottom: 50px;
  }
    
    100%{
         transform: translate(-77px,180px) rotate(360deg);
    }
}
@keyframes reinab {
   0%{
    left: 50px;
    transform: translate(75px,-9px);
  }
    
    100%{
      transform: translate(-149px,-4px) rotate(220deg);
    }
}

@keyframes torren {
  0%{
    left: 0;
  }
    
    100%{
      transform: translate(-50px,100px) rotate(180deg);
    }
}
@keyframes caballob{
  0% {
    transform: translate(0px,0) rotate(0deg);
    }
    100% {
      transform: translate(50px,-100px) rotate(180deg);
  }
}
@keyframes caballobb{
  0% {
    transform: translate(0px,0) rotate(0deg);
    }
    100% {
      transform: translate(-43px,170px) rotate(197deg);
  }
}

@keyframes botones{
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes titulo{
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes tituloo {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes titulooo {
  from {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

.con{
  position: relative;
}


@media (max-width: 500px){
    #torren{
      display: none;
    }
    #reinab{
      display: none;
    }
    #peonb{
      display: none;
    }
}


